body {
    background-color: rgb(61, 60, 60);
}

.sundial h1 {
    text-align: center;
    text-decoration: underline;
    color: rgb(215, 210, 210);
}

.sundial p {
    text-align: center;
    color: rgb(215, 210, 210);
}

.sundial #paragraphOne {
    color: rgb(215, 210, 210);
}

.sundial #sundialCompass {
    float: left;
    width: 300px;
}

.sundial h2 {
    text-align: center;
    color: rgb(215, 210, 210);
}
